.orange-bg{
    background-color: #feeae9;
    border-radius: 10px;
}

.container{
    margin-bottom: 60px;
}

.carousel-item{
    padding: 20px 40px;
}

.price{
    color: #ff136f;
}

.buy-now{
    background-image:linear-gradient(to bottom, #ff589B 0%,  #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

/* 3rd work */
.cat1{
    background-color: orange;
    padding: 10px 30px;
    border-radius: 10px;
}

.cat2{
    background-color: orchid;
    padding: 10px 30px;
    border-radius: 10px;
}

.cat3{
    background-color: blue;
    padding: 10px 30px;
    border-radius: 10px;
}

.categorise h1{
    color: black;
}

.categorise img{
    width: 120px;
}

/* End 3rd work */

.row img{
    width: 350px;
}

.card{
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px lightgray;
}

.card-footer {
    background-color: white;
    border-top: none;
}

.row-cols-md-3{
    border-radius: 10px;
}

.box{
    height: 300px;
}

footer{
    text-align: center;
}

